BASE_URL=https://derbyownersclub.online
RESEND_API_KEY=REPLACE_WITH_YOUR_API_KEY_IF_USING_RESEND
EMAIL_USER=REPLACE_WITH_YOUR_EMAIL
EMAIL_PASS=REPLACE_WITH_YOUR_EMAIL_PASSKEY
EMAIL_FROM=REPLACE_WITH_YOUR_EMAIL